.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

label {
  color: gold;
  margin-bottom: 5px;
}

.modal-content button {
  background-color: gold;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.modal-content input:focus {
  border-color: gold;
  outline: none;
}

.toggle-text {
  color: gold;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
